In [ ]:
import requests
import json
import pandas as pd
from google.cloud import bigquery
from google.oauth2 import service_account

client = bigquery.Client(project='msd8654-434')

# TODO(developer): Set table_id to the ID of the table to browse data rows.
table_id = "bfro.bfro_reports_geocoded"
api_key = <add your key>

# Download all rows from a table.
rows_iter = client.list_rows(table_id)  # Make an API request.

# Iterate over rows to make the API requests to fetch row data.
rows = list(rows_iter)
print("Downloaded {} rows from table {}".format(len(rows), table_id))

def get_elevation(lat,long):
  location = str(lat) + ',' + str(long)
  url = "https://maps.googleapis.com/maps/api/elevation/json?locations=" + location + "&key=" + api_key
  payload={}
  headers = {}
  response = requests.request("GET", url, headers=headers, data=payload)
  return response.text


json_list = []
i = 0
for rec in rows:
  if (i%100==0): print("i=",i,rec.values()[6:10])
  if (rec.values()[6] != None): 
    json_text = json.loads(get_elevation(rec["latitude"], rec["longitude"] ))
    try:
      results = json_text['results'][0]
    except:
      print('error on', rec.values()[6:10], json_text)
  json_list.append([round(rec['number']), rec['latitude'], rec['longitude'], round(results['elevation']) ])
  i+=1
  #if i>10: break

df = pd.DataFrame(columns=['number','lat','long','elevation'], data=json_list )
print(df)
df.to_csv('elevations.csv',index=False)

Downloaded 4969 rows from table msd8654-434.bfro.bfro_reports_geocoded
i= 0 (47.72964, -102.70100000000001, datetime.date(2004, 2, 22), 8165.0)
i= 100 (40.16912, -80.62003, datetime.date(2020, 2, 6), 63140.0)
i= 200 (34.559459999999994, -86.59747, datetime.date(2008, 11, 28), 25111.0)
i= 300 (47.87725, -121.8943, datetime.date(2004, 7, 3), 8597.0)
i= 400 (29.270429999999998, -81.69337, datetime.date(2017, 8, 15), 59858.0)
i= 500 (36.469, -91.154, datetime.date(2012, 5, 16), 56937.0)
i= 600 (None, None, None, 6233.0)
i= 700 (None, None, None, 59235.0)
i= 800 (None, None, None, 23695.0)
i= 900 (None, None, None, 4196.0)
i= 1000 (None, None, None, 1170.0)
i= 1100 (None, None, None, 1064.0)
i= 1200 (35.5605, -83.5214, datetime.date(1998, 1, 5), 3338.0)
i= 1300 (48.74111, -117.4161, datetime.date(1991, 5, 10), 1571.0)
i= 1400 (None, None, None, 23796.0)
i= 1500 (44.75, -115.9167, datetime.date(1981, 7, 7), 6929.0)
i= 1600 (38.19833, -120.0083, datetime.date(1993, 11, 1), 2311.0)
i= 1700 (37.830740000000006, -119.4626, datetime.date(1976, 9, 1), 10718.0)
i= 1800 (None, None, None, 1372.0)
i= 1900 (25.91695, -81.29691, datetime.date(1997, 7, 17), 721.0)
i= 2000 (38.4975, -88.9094, datetime.date(1972, 9, 15), 3471.0)
i= 2100 (37.427009999999996, -82.48093, datetime.date(1994, 4, 18), 27941.0)
i= 2200 (40.01784, -80.93318000000001, datetime.date(1994, 11, 5), 48372.0)
i= 2300 (46.5579, -122.2988, datetime.date(1996, 2, 25), 1781.0)
i= 2400 (38.4775, -120.0047, datetime.date(2001, 11, 1), 8463.0)
i= 2500 (28.908540000000002, -82.34611, datetime.date(1961, 3, 18), 28678.0)
i= 2600 (42.28422, -91.68191999999999, datetime.date(2004, 9, 12), 9089.0)
i= 2700 (37.714, -92.17299999999999, datetime.date(1982, 5, 15), 4421.0)
i= 2800 (36.3025, -93.448, datetime.date(1997, 5, 10), 62678.0)
i= 2900 (47.85691, -120.6502, datetime.date(2014, 6, 22), 45726.0)
i= 3000 (46.81398, -122.0571, datetime.date(2008, 11, 19), 26759.0)
i= 3100 (35.703, -91.46231, datetime.date(2011, 11, 24), 46380.0)
i= 3200 (39.208940000000005, -94.2908, datetime.date(2012, 11, 15), 38339.0)
i= 3300 (41.65225, -90.59600999999999, datetime.date(1981, 2, 4), 22945.0)
i= 3400 (48.03632, -122.9539, datetime.date(2008, 6, 1), 23068.0)
i= 3500 (34.814170000000004, -95.65417, datetime.date(2005, 2, 10), 10595.0)
i= 3600 (28.98195, -80.86715, datetime.date(2004, 11, 7), 2848.0)
i= 3700 (32.8, -94.16666, datetime.date(2004, 2, 22), 8067.0)
i= 3800 (41.05304, -80.51186, datetime.date(1998, 7, 1), 23125.0)
i= 3900 (30.373690000000003, -83.1736, datetime.date(2011, 10, 15), 49326.0)
i= 4000 (37.2423, -80.13276, datetime.date(2002, 4, 4), 4077.0)
i= 4100 (41.30265, -81.30896, datetime.date(1962, 6, 6), 3651.0)
i= 4200 (38.80435, -120.0825, datetime.date(2007, 8, 27), 21165.0)
i= 4300 (32.51667, -94.9, datetime.date(2004, 8, 16), 9038.0)
i= 4400 (33.48665, -85.8175, datetime.date(2000, 7, 15), 1419.0)
i= 4500 (40.4764, -82.80256999999999, datetime.date(1978, 1, 1), 3293.0)
i= 4600 (39.32117, -86.46065, datetime.date(1988, 11, 30), 24815.0)
i= 4700 (40.04755, -80.25645, datetime.date(1978, 10, 1), 50123.0)
i= 4800 (37.07354, -93.13545, datetime.date(1988, 6, 1), 2036.0)
i= 4900 (40.9119, -90.928, datetime.date(2014, 5, 12), 43619.0)

NameError: ignored

In [ ]:

df = pd.DataFrame(columns=['number','lat','long','elevation'], data=json_list )
print(df)
df.to_csv('elevations.csv',index=False)

      number       lat       long  elevation
0       8165  47.72964 -102.70100        726
1       8130  47.63297 -102.72910        759
2      28964  35.37201 -108.20340       2215
3      44173  38.95060  -83.02551        170
4      43407  39.05922  -83.07492        205
...      ...       ...        ...        ...
4964    5609  31.39040  -92.34950         46
4965    6513  35.33389  -98.13028        448
4966   49148  30.03260  -83.52959         15
4967     348  37.57915 -105.49790       3987
4968   35631  31.62608  -84.16016         66

[4969 rows x 4 columns]

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated